
.card{
    flex-basis: 23%; 
    padding-bottom: 20px; 

    @include breakpoint($sm){
        flex-basis: 48%; 
    }

    @include breakpoint($xs){
        flex-basis: 100%;  
    }

}

.card--big{
    flex-basis: 48%; 
    @include breakpoint($sm){
        flex-basis: 100%; 
    }
}

.card__image{
    margin-top: 17px; 
    width: 100%; 
}


.card__title{
    font-weight: bold;
    font-size: 1.375em;
    line-height: 1.091em;
    min-height: 2.2em; 


    @include breakpoint($sm){
        min-height: auto;
    }

    .section--first &{
        font-family: $font-family-two;
        font-weight: 400;
    }

    .card--big &{
        font-family: $font-family; 
        font-weight: bold;
        font-size: 2.250em; 
        line-height: 0.944em;
        min-height: auto;
    }

    .material-icons{
        font-size: 0.727em;
    }
}

.card__author{
    font-size: 0.750em; 
    font-weight: bold;
    min-height: 2.5em;

    .card--big &{
        min-height: auto;
    }

    @include breakpoint($sm){
        min-height: auto;
    }
}
