$font-color: #393939; 
$blue: #123C69; 
$red: #AC3B61; 

.card{
    flex-basis: 23%; 
}

.card--big{
    flex-basis: 48%; 
}

.card__image{
    width: 100%; 
}

.category{
    display: inline-flex; 
    text-transform: uppercase; 
    padding-right: 12%; 
}

.category-unicorns{
    @include linky-link(); 
}

.category-bears{
    @include linky-link($red, $blue); 
}

.category__name{
    display: flex; 
}

.category__line{
    display: inline-flex; 
    width: 67%; 
    margin-left: 0.3125rem; 

}
.category__divider{
    margin-left: 0; 
    width: 88%; 
}

.card__title{
    font-weight: bold;
    font-size: 1.375em;
    line-height: 1.091em;

    .card--big &{
        font-size: 2.250em; 
        line-height: 0.944em;
    }

    .material-icons{
        font-size: 0.727em;
    }
}

.card__author{
    font-size: 0.750em; 
    font-weight: bold;
}
