.card{
    flex-basis: 23%; 
}

.card--big{
    flex-basis: 48%; 
}

.card__image{
    width: 100%; 
}

.category{
    text-transform: uppercase; 
}

.category-unicorns{
    color: #123C69; 
}

.category-bears{
    color: #AC3B61; 
}