$red: #AC3B61;
$blue: #123C69;
$black: #151515; 
$font-color: #393939; 
$background-alt: #EEE2DC; 
$white: white; 
$font-family: 'Source Sans Pro', sans-serif;
$font-family-two: 'Merriweather', serif;
$xs: 576px; 
$sm: 768px; 
$container-size: 1030px; 


@mixin linky-link($color: $red, $color-hover: $blue){
    color: $color; 
    display: inline-block; 
    text-decoration: none; 
    transition: color 0.5s ease-in-out;
    
    &:visited {
        color: $color;
    }

    &:hover,
    &:focus, 
    &:active {
        color: $color-hover;
    }
}

@mixin button-linky($color: $white, $background: $blue, $background-hover: $red){
    color: $color; 
    background-color: $background; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    border-radius: 8px; 
    display: inline-block; 
    padding: 5px 40px; 
    font-size: 0.875rem; 
    font-weight: bold; 
    text-transform: uppercase; 
    text-decoration: none; 
    transition: all 0.5s ease-in-out;
    
    &:visited {
        color: $color;
    }

    &:hover,
    &:focus, 
    &:active {
        background: $background-hover;
        box-shadow: 0 2px 10px rgba(0, 0, 0, .8);
    }
}

@mixin breakpoint($break){
    @media screen and (max-width: $break) {
        @content; 
    }
}