.section-header{
    border-top: 1px solid $black; 
}

.section-header__constrain{
    display: flex; 
    justify-content: space-between;
}

.section-header__link{
    @include linky-link(); 
}

.section-header__intro{
    font-style: italic;
}