.section{
  color: $font-color; 
  font-family: $font-family; 
  background-color: $white; 
}

.section--first {
  background-color: $background-alt; 
}

.section__constrain{ 
  padding: 25px 10px 0px; 
  margin: auto; 
  max-width: $container-size; 
}

.section-header{
  padding-top: 5px; 
}

.section-header__title{
  font-size: 1.5em;
  line-height: 1.250em;
  margin-top: 3px; 
  margin-bottom: 20px; 
}

.section-header__intro{
  padding-bottom: 40px; 
}

.section__footer{
  display: block; 
  text-align: center; 
  padding-bottom: 20px; 
}