.section--first {
  background-color: #EEE2DC; 
}

.section--second{
  background-color: white; 
}

.section__constrain{
  padding-bottom: 50px; 
  padding-top: 25px; 
  margin: auto; 
  max-width: 1010px; 
}