<header class="section-header">
    <div class="section-header__constrain">
        <h2 class="section-header__title">{{title}}</h2>
        <a class="seaction-header__link" href='{{url}}'>{{link_text}}</a>
    </div>
    {% if intro %}
        <div class="section-header__intro">
            {{intro}}
        </div> 
    {% endif %}
</header> 