<section class="section {{modifier_class}}">
  <div class="section__constrain">
  
    {% include "templates/header.twig" with {
      title: title, 
      url: url, 
      link_text: link_text, 
      intro: intro
    } %}

    {% block grid %}
    {% endblock grid %}
  <div class="section__footer">
    {% block footer %}
    {% endblock footer %}
  </div> 

  </div>
</section>
