<section class="section {{modifier_class}}">
   {% include "templates/header.twig" with {
    title: title, 
    url: url, 
    link_text: link_text, 
    intro: intro
  } %}

  {% include "templates/grid.twig" with {  
    big_card: big_card, 
    items: items
  } %}

  {% if footer == true %}
    {% include "templates/footer.twig" %}
  {% endif %}

  {% block section_block %}
  {% endblock section_block %}
 
</section>
